<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <%- include('../styles/footerStyles'); %>
</head>
<footer class="footerContainer">
  <p class="footerText">
    Produtor: <%=produtor.nomeProdutor%>. Visita nยบ <%=numeroRelatorio%> realizada em <%=data%>
  </p>
</footer>
