<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
</head>
<footer
  style="display: flex; flex-direction: column; align-items: center; margin-top: 20px; width: 100%"
>
  <div style="display: flex; padding-right: 20px; border-top: 1px solid #999">
    <p style="font-size: 10px">
      Produtor: <%=produtor.nomeProdutor%>. Visita nยบ <%=numeroRelatorio%> realizada em <%=data%>
    </p>
  </div>
</footer>
