<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../styles/headerStyles'); %>
  </head>

  <body>
    <main class="headerContainer">
      <div class="headerSubContainer">
        <div class="logoContainer">
          <img id="logo" src="<%= logoBase64Image %>" class="logo" alt="" />
        </div>
        <div class="textContainer">
          PNAE MOBILE APP
          <br />
          RELATÓRIO DE ASSISTÊNCIA TÉCNICA AO AGRICULTOR FAMILIAR
          <br />
          CONTRATO Nº 9451439/2025-2026 - SEE / EMATER-MG
        </div>
      </div>
    </main>
  </body>
</html>
