<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório PNAE - Emater/MG</title>
    <%- include('./styles/globalStyles'); %> <%- include('./styles/headerStyles'); %>
  </head>

  <body>
    <main class="container">
      <%-include('perfil', {perfil, gruposProdutosNatura, gruposProdutosIndustriais, produtor })%>
      <%-include('relatorio', { ...relatorio, produtor, assinaturaBase64Image, pictureBase64Image,
      })%>
    </main>
  </body>
</html>
